<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="utf-8">
      <title>La Gráfica</title>
      <link rel="shortcut icon" href="/img/icon.png">
      <link rel="stylesheet" type="text/css" href="/css/estilo.css">
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
      
      <script>
	      $(function(){
	    	  $("#frmCpf").inputmask({
	    	    mask: "999.999.999-99"
	    	  });
	    	  
	    	  $("#frmRg").inputmask({
	    		mask: "99.999.999-9"
	    	  });
	      });	
      </script>
  
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-success">
         <div class="container menu">
         	<a class="navbar-brand"  href="/">LA<strong>Gráfica</strong></a>
         </div>
      </nav>
      <div class="container">
         <div class="header text-center text-success">
            <h1>LA<strong>Gráfica</strong></h1>
            <h5>Cadastrar Cliente</h5>
         </div> 
         <div>
         	<div class="card bg-dark">
  				<div class="card-body">
    				<form action="/cliente/cadastrar" method="POST" th:object="${cliente}">
         				<input type="hidden" th:field="*{codigo}">
		         		<div class="col-md-12">
		         			<div class="form-row mb-4">
		                    	<div class="col-md-6">
		                          <input type="text" th:field="*{nome}"   class="form-control" maxlength="40" placeholder="Nome*" required>
		                       	</div>
		                       	<div class="col-md-3">
		                          <input type="text" th:field="*{cpf}"  class="form-control" id="frmCpf" placeholder="CPF: 000.000.000-00*" required>
		                       	</div>
		                        <div class="col-md-3">
		                          <input type="text" th:field="*{rg}" class="form-control" id="frmRg" placeholder="RG: 00.000.000-00*" required>
		                        </div>
		                    </div>
		                    <div class="form-row mb-4">
		                       <div class="col-md-2">
		                          <input type="text" th:field="*{cidade}" class="form-control"  maxlength="20"  placeholder="Cidade*" required>
		                       </div>
		                       <div class="col-md-5">
		                          <input type="text" th:field="*{rua}" class="form-control" maxlength="40" placeholder="Rua*" required>
		                       </div>
		                       <div class="col-md-2">
		                          <input type="text"  th:field="*{numeroCasa}" class="form-control" maxlength="10" placeholder="Numero*" required>
		                       </div>
		                       <div class="col-md-3">
		                          <input type="text"  th:field="*{complemento}" class="form-control" maxlength="50" placeholder="Complemento">
		                       </div>
		                    </div>
                		</div>
                		<center><button type="submit" class="btn btn-success" value="Adicionar" >Salvar</button></center>
                		<a href="/cliente/listar" class="btn btn-primary">Listar cadastrados</a>
               		</form>
  				</div>
			</div>
         	
            </div>
         </div>
   </body>
</html>