<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="utf-8">
      <title>La Gráfica</title>
      <link rel="shortcut icon" href="/img/icon.png">
      <link rel="stylesheet" type="text/css" href="/css/estilo.css">
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-success">
         <div class="container menu">
         	<a class="navbar-brand"  href="/">LA<strong>Gráfica</strong></a>
         </div>
      </nav>
      <div class="container">
         <div class="header text-center text-success">
            <h1>LA<strong>Gráfica</strong></h1>
            <h5>Cadastrar Produto</h5>
         </div> 
         <div>
         	<div class="card bg-dark">
  				<div class="card-body">
    				<form action="/produto/cadastrar" method="POST" th:object="${produto}">
         				<input type="hidden" th:field="*{codigo}">
		         		<div class="col-md-12">
		         			<div class="form-row mb-4">
		                    	<div class="col-md-6">
		                          <input type="text" th:field="*{nome}" class="form-control"  placeholder="Nome*" required>
		                       	</div>
		                       	<div class="col-md-3">
		                          <input type="text" th:field="*{quantidade}" class="form-control"  placeholder="Quantidade*" required>
		                       	</div>
		                        <div class="col-md-3">
		                          <input type="text" th:field="*{preco}" class="form-control"  placeholder="Preço*" required>
		                        </div>
		                    </div>
                		</div>
                		<center><button type="submit" class="btn btn-success" value="Adicionar" >Salvar</button></center>
                		<a href="/produto/listar" class="btn btn-primary">Listar cadastrados</a>
               		</form>
  				</div>
			</div>
         	
            </div>
         </div>
   </body>
</html>