<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

   <head>
      <meta charset="utf-8">
      <title>La Gráfica</title>
      <link rel="shortcut icon" href="/img/icon.png">
      <link rel="stylesheet" type="text/css" href="/css/estilo.css">
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-success">
         <div class="container menu">
         	<a class="navbar-brand"  href="/">LA<strong>Gráfica</strong></a>
         </div>
      </nav>
      <div class="container">
         <div class="header text-center text-success">
            <h1>LA<strong>Gráfica</strong></h1>
            <h5>Lista de produtos</h5>
            <a href="/produto/form" class="btn btn-info text-dark ">Cadastrar novo</a>
         </div> 
         <div class="card bg-dark">
	  		 <div class="card-body">
	    		<table class="table text-light">
			      	<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nome</th>
							<th scope="col">Quantidade</th>
							<th scope="col">Preço</th>
							<th scope="col" colSpan="3" ></th>
				
						</tr>
					</thead>
					<tbody>
						<tr th:each = "produto : ${listaDeProdutos}">
							<td th:text="${produto.codigo}"></td>
							<td th:text="${produto.nome}"></td>
							<td th:text="${produto.quantidade}"></td>
							<td th:text="${produto.preco}"></td>
							<td ><a  class= "btn btn-danger"  th:href="@{/produto/excluir/{codigo}(codigo = ${produto.codigo})}"> Excluir </a></td>
							<td ><a  class= "btn btn-primary"  th:href="@{/produto/atualizar/{codigo}(codigo = ${produto.codigo})}"> Atualizar </a></td>
							
						
						</tr>
					</tbody>
				</table>
	  		</div>
		</div>
		<a href="/fornecedor" style="margin-top: 30px;" class="btn btn-light">Voltar</a>
      </div>
   </body>
</html>