<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="utf-8">
      <title>La Gráfica</title>
      <link rel="shortcut icon" href="/img/icon.png">
      <link rel="stylesheet" type="text/css" href="/css/estilo.css">
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-success">
         <div class="container menu">
         	<a class="navbar-brand"  href="/">LA<strong>Gráfica</strong></a>
         </div>
      </nav>
      <div class="container">
         <div class="header text-center text-success">
            <h1>LA<strong>Gráfica</strong></h1>
            <h5>Aréa de produtos</h5>
         </div> 
         <div class="row">
            <div class="col-sm-6">
                  <div class="container">
                     <div>
                        <a class="card-options" href="/produto/form">
                           <div><img class="img-card" src="/img/adicionar-produto.png" alt=""></div>
                           <div class="title"><span>Adicionar</span></div>
                        </a>
                     </div>
                  </div>
            </div>
            <div class="col-sm-6">
                  <div class="container">
                     <div>
                        <a class="card-options" href="/produto/listar">
                           <div><img class="img-card" src="/img/listar.png" alt=""></div>
                           <div class="title"><span>Listar</span></div>
                        </a>
                     </div>
                  </div>
            </div>
         </div> 
      </div>
   </body>
</html>